---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h3>Local Reference Frames on Geometric Graphs</h3>
Covariance-based LRFs on molecules to obtain invariant features for molecular property prediction.
For the Geometric Deep Learning course at the University of Oxford.
<br/><img src='/images/500x300.png'><br/>

<h3>A1 SLAM</h3>
Open-source code for a modular SLAM system for the A1 quadruped.
<a href="https://github.com/jerredchen/A1_SLAM">Code</a>
<br/><img src='/images/500x300.png'><br/>

<h3>Hilti Challenge 2022</h3>
<a href="https://arxiv.org/abs/2210.00146">Preprint</a>
<br/><img src='/images/500x300.png'><br/>

<h3>NCAA Basketball Prediction</h3>


<h3>RRT with KUKA Arm</h3>

<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
 -->
