---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h3>Covariance-Based Local Reference Frames on Geometric Graphs</h3>
<em>Geometric Deep Learning, University of Oxford - 2024</em>
Covariance-based LRFs on molecules to obtain invariant features for molecular property prediction.
<br/>
Mini project for the Geometric Deep Learning course at the University of Oxford.
<br/><img src='/images/lrf_geometric_plot.png' width="500">

<h3>A1 SLAM</h3>
<em>Borglab, Georgia Tech - 2023</em>
Open-source code of a modular SLAM system for the A1 quadruped robot.
<br/>
<a href="https://github.com/jerredchen/A1_SLAM">Code</a> | <a href="https://arxiv.org/abs/2211.14432">Preprint</a>
<br/><img src='/images/large_lab_map.png' width="500"> 

<h3>FL2BIPS - Hilti Challenge 2022</h3>
<em>Borglab, Georgia Tech - 2022</em>
PoseSLAM pipeline to recover the sensor pose trajectory in difficult conditions.
<br/>
Competed in the Hilti Challenge 2022.
<br/>
<a href="https://arxiv.org/abs/2210.00146">Preprint</a>
<br/><img src='/images/hilti_pgo.png' width="500">

<h3>NCAA Basketball Prediction</h3>
<em>CS4641: Machine Learning, Georgia Tech - 2023</em>
Predicting the outcome of two NCAA basketball teams.
<br/>
<a href="https://freephilly1.github.io/team30.github.io/">Project Page</a>
<br/><img src='/images/ncaa_pca_analysis.png' width="500">

<h3>RRT with KUKA Arm Simulation</h3>
<em>LIDAR Lab, Georgia Tech - 2020</em>
RRT path planning for a KUKA arm.
<br/>
<a href="">Code</a>
<br/><img src='/images/kuka_planning.png' width="500">

<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
 -->
